.avatar {
  background-color: #328eeb;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  color: #FFFFFF;
  font-size: 24px;
}

.avatar div {
  display: flex;
  justify-content: center;
}

#username {
  margin-top: 0.5em;
}