.new-tweet {
  width: 100%;
}

.new-tweet form {
  width: 100%;
}

#tweet-text {
  border-style: hidden;
  border-bottom: 3px solid #545149;
  background-color: #f4f1ec;
  outline: none;
  resize: none;
  height: 2em;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin: auto;
}

.tweet-button {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: 'Bungee', cursive;
  font-size: 24px;
  font-weight: 700;
}