.new-tweet {
  display: none;
  width: 100%;
}

.new-tweet form {
  width: 100%;
}

#tweet-text {
  border-style: hidden;
  border-bottom: 3px solid #000433;
  background-color: #f4f1ec;
  outline: none;
  resize: none;
  height: 2.5em;
  width: 100%;
  margin: auto;
  font-weight: 700;
  font-size: 18px;
}

.tweet-button {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: 'Bungee', cursive;
  font-weight: 700;
  font-size: 24px;
}