article {
  border: 3px solid #696363;
  font-weight: 100;
}

.enhance {
  padding-top: 1em;
  color: #f4f1ec;
}

.icons {
  color: #363030;
}

article:hover .enhance {
  color: #4056A1;
}

article:hover {
  box-shadow: 6px 6px #328eeb;
  font-weight: 700;
}

article:hover .icons{
  color: #4056A1;
  cursor: pointer;
}

.tweet {
  padding: 1.5em;
  margin: auto;
}

article header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 2em;
}

article header {
  height: 2em;
  font-size: 24px;
}

article footer {
  border-top: 3px solid #696363;
  margin-left: 1em;
  margin-right: 1em;
}

.tweet-avatar {
  padding-top: 1em;
  display: flex;
  align-items: center;
}

.tweet-avatar img {
  height: 1.5em;
  padding-right: 0.5em;
}

#error {
  display: none;
  text-align: center;
  margin: auto;
  border: 3px solid red;
  border-radius: 0.5em;
  background-color: red;
  color: #f4f1ec;
  padding: 0.5em;
  max-width: 50vw;
  font-family: 'Bungee', cursive;
  font-size: 24px;;
}