@media (min-width: 1024px) {
  .full-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    background-color: rgb(2, 32, 84);
  }
  .nav-right {
    background-color: rgb(2, 32, 84);
  }
  main {
    padding-left: 45vw;
    margin-top: 10vh;
    margin-right: 5vw;
  }
  .avatar {
    position: fixed;
    margin-left: 5vw;
    top: 26.5vh;
    width: 500px;
    height: 475px;
    border-radius: 50%;
  }
  .avatar img {
    margin-top: 2em;
  }
  
}